<div class="d-flex justify-content-center mt-2">
    <a th:href="@{/admin/customers}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Пользователи</button>
    </a>
    &nbsp;
    <a th:href="@{/admin/employees}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Сотрудники</button>
    </a>
    &nbsp;
    <a th:href="@{/admin/orderStatuses}">
        <button style="width: 150px" class="btn btn-outline-success btn-block">Статусы заказов</button>
    </a>
    &nbsp;
    <a th:href="@{/admin/paymentTypes}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Типы оплаты</button>
    </a>
</div>