<div class="d-flex justify-content-center mt-2">
    <a th:href="@{/manager/manufacturers}">
        <button style="width: 150px" class="btn btn-outline-success btn-block">Производители</button>
    </a>
    &nbsp;
    <a th:href="@{/manager/categories}">
        <button style="width: 150px" class="btn btn-outline-success btn-block">Категории</button>
    </a>
    &nbsp;
    <a th:href="@{/manager/colors}">
        <button style="width: 150px" class="btn btn-outline-success btn-block">Цвета</button>
    </a>
    &nbsp;
    <a th:href="@{/manager/sizes}">
        <button style="width: 150px" class="btn btn-outline-success btn-block">Размеры</button>
    </a>
    &nbsp;
    <a th:href="@{/manager/products}">
        <button style="width: 150px" class="btn btn-outline-success btn-block">Товары</button>
    </a>
    &nbsp;
    <a th:href="@{/manager/reports}">
        <button style="width: 150px" class="btn btn-outline-info btn-block">Отчеты</button>
    </a>
</div>